.container {
    padding: 5vh 3vw;
}

.container h1 {
    color: black;
    font-size: 2rem;
    font-weight: bolder;
}

.container p {
    color: black;
    font-size: 1rem;
    font-weight: 500;
}

.container img {
    width: 100%;
}