.contact {
    display: flex;
    padding: 1vmax;
}

.leftSide {
    flex: 1;
    border-radius: 10px;
}

.rightSide {
    flex: 1;
}

.rightSide h1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-weight: 10;
    font-size: 50px;
    margin-left: 30px;
}

form {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 30px;
}

form input {
    height: 40px;
    width: 80%;
    border: none;
    border-bottom: 1px solid #505050;
    background-color: #F8F8F8;
    color: black;
    margin-bottom: 2vh;
}

form textarea {
    height: 10vh;
    width: 80%;
    border: none;
    border-bottom: 1px solid #505050;
    background-color: #F8F8F8;
    color: black;
    margin-top: 2vh;
}

input::placeholder,
textarea::placeholder {
    font-weight: 400;
    color: #505050;
    font-family: Arial, Helvetica, sans-serif;
}

form input:focus,
textarea:focus {
    outline: none;
}

form button {
    margin-top: 40px;
    width: 140px;
    height: 40px;
    border: none;
    background-color: #303030;
    color: whitesmoke;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}