.contact {
    display: flex;
    padding: 1vmax;
}

.leftSide {
    flex: 1;
    border-radius: 10px;
}

.rightSide {
    flex: 1;
}

.rightSide h1 {
    font-size: 3rem;
    color: #222;
    margin-left: 5vw;
}

.form {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 1vh 5vw;
}

.form input {
    height: 4vh;
    width: 35vw;
    border: none;
    border-bottom: 1px solid #505050;
    background-color: #F8F8F8;
    color: black;
    margin-bottom: 2vh;
}

.form textarea {
    height: 20vh;
    width: 35vw;
    border: none;
    border-bottom: 1px solid #505050;
    background-color: #F8F8F8;
    color: black;
    margin-bottom: 3vh;
}

.form input::placeholder,
.form textarea::placeholder {
    font-weight: 400;
    color: #505050;
    font-family: Arial, Helvetica, sans-serif;
}

.form input:focus,
.form textarea:focus {
    outline: none;
}

.form button {
    width: 140px;
    height: 40px;
    border: none;
    background-color: #303030;
    color: whitesmoke;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}