.MenuItem img {
  width: 100%;
}

.MenuItem h1 {
  font-size: 25px;
  color: rgb(148, 124, 101);
}

.MenuItem desc {
  font-size: 1rem;
  color: #222222;
  margin: 1vh 0;
}

.MenuItem price {
  font-size: 1.2rem;
  color: rgb(148, 124, 101);
  margin: 1vh 0;
}